.background-header {
  padding: 23px 0;
  box-shadow: rgb(0 0 0 / 5%) 0px 4px 6px;
  z-index: 999;
  margin: 0 0 10px 0;
  top: 0;
  background-color: #fff;
  position: sticky;
  position: -webkit-sticky;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
}

.header-logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.list-page {
  flex: 1.5;
  display: none;
}
.list-page ul{
  display: flex;
  justify-content: space-between;
}
.list-page li{
  list-style: none;
  font-size: 15px;
  cursor: pointer;
}
.list-page li:hover{
  color: #777;
}

.header-signup {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.masuk {
  display: none;
}

.hot {
  position: absolute;
  margin-top: -20px;
  margin-left: 50px;
  background-color: red;
  padding: 2px 7px;
  font-size: 10px;
  border-radius: 10px;
  color: #fff;
}


/* Responsive */
@media only screen and (min-width: 800px) {
  .list-page {
    display: block;
  }
  .masuk {
    display: block;
  }
}